<h2><%= @goal.title %></h2>
<h4><%= @goal.user.username %>'s Goal</h4>
<% if @goal.description %>
<p><%= @goal.description %></p>
<% end %>

<p><%= @goal.is_private ? "Private" : "Public" %></p>
<p><%= @goal.is_completed ? "Completed" : "Unaccomplished" %></p>

<% if current_user.id = @goal.user_id %>
<%= button_to "Edit Goal", edit_goal_url(@goal), method: :get %>
<% end %>


<h4>Comments</h4>
<ul>
  <% @goal.comments.each do |gc| %>
  <li>
    <%= gc.body %> (<%= gc.commenter.username %>)
    <%= button_to "Remove Comment", goal_comment_url(gc), method: :delete %>
  </li>
  <% end %>
</ul>

<% if logged_in? %>
<h4>Add a comment</h4>
<form action="<%= goal_comments_url %>" method="post">
  <input type="hidden" name="goal_comment[goal_id]" value="<%= @goal.id %>">
  <%= form_auth_token %>

  <label for="comment">Comment
    <textarea name="goal_comment[body]" rows="8" cols="80"></textarea>
  </label>

  <input type="submit" value="Add Comment">
</form>
<% end %>


<%= link_to "All Goals", goals_url %>
